{% extends 'base.html' %}
{% block content %}

  <h1>{{ question.question }}</h1>

  <form action="/answer" method="POST">

      <!-- you should have one item like this for every choice -->
      <p>
        <input type="hidden" value="{{ question_number }}" name="question_number">
        {% for choice in question.choices %}
        <input
            type="radio"
            name="answer"
            value="{{ choice }}">
          <label>{{ choice }}</label>
        {% endfor %}
      </p>

    <button>Continue</button>
  </form>

{% endblock %}
