{% extends 'base.html' %}
{% block content %}

{% for msg in get_flashed_messages() %}
<p style="color: red;">{{ msg }}</p>
{% endfor %}

<h1>{{ question.question }}</h1>

<form action="/answer" method="POST">

  <!-- you should have one item like this for every choice -->
  <p>
    <input type="hidden" value="{{ question_number }}" name="question_number">
    {% for choice in question.choices %}
    <input type="radio" name="answer" value="{{ choice }}">
    <label>{{ choice }}</label>
    {% endfor %}
    <br><br>
    {% if question.allow_text == True %}
    <label>Comments:</label>
    <input name="comments">
    {% endif %}
  </p>

  <button>Continue</button>
</form>

{% endblock %}